<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book Edit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div id="book_edit">
		<h1>Edit Book</h1>
		<form action="/book/edit" th:action="@{/book/edit}"
			th:object="${book}" method="post">
			<p hidden="">
				<input type="hidden" th:field="*{id_book}" />
			</p>
			<p>
				Title: <input type="text" th:field="*{title}" size="40" />
			</p>
			<p>
				Author: <input type="text" th:field="*{author}" />
			</p>
			<p>
				ISBN: <input type="text" th:field="*{isbn}" />
			</p>
			<p>
				<input type="submit" value="Submit" />
			</p>
		</form>
	</div>
</body>
</html>